!!! 5
%html
  %head
    %link{rel: "stylesheet", type: "text/css", href: "/style.css"}
    %link{rel: "icon", type: "image/png", href: "/favicon.png"}

    %script{src: "/js/zepto.js"}
    %script{src: "/js/weusepgp.js"}

    %title= t 'meta_title'

    %meta{charset: "utf-8"}
    %meta{name: "description", content: "#{t 'meta_description'}"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}

  %body
    #help
      .container
        = t 'help_contribute'

    #sidebar-container
      #sidebar

        %nav.language-select
          %ul
            %li
              %span Other languages
            %li
              %a{href: "/"} English
            %li
              %a{href: "/fr"} Français
            %li
              %a{href: "/oc"} Occitan

        %nav.social-links
          %ul
            %li
              %span Share on

            %li
              %a.social-twitter{href: "https://twitter.com/share?text=#{CGI.escape t('share_text')}&url=#{CGI.escape "#{request.url}"}&via=manudwarf", target: "_blank", rel: "nofollow"} Twitter

            %li
              %a.social-facebook{href: "https://www.facebook.com/sharer.php?u=#{CGI.escape "#{request.url}"}&t=#{CGI.escape t('share_text')}", target: "_blank", rel: "nofollow"} Facebook

            %li
              %a.social-gplus{href: "https://plus.google.com/share?url=#{CGI.escape "#{request.url}"}", target: "_blank", rel: "nofollow"} Google+

            %li
              %a.social-linkedin{href: "https://www.linkedin.com/shareArticle?mini=true&url=#{CGI.escape "#{request.url}"}&title=#{CGI.escape t('share_text')}", target: "_blank", rel: "nofollow"} LinkedIn

            %li
              %a.social-email{href: "mailto:?subject=#{CGI.escape t('share_text')}&body=#{CGI.escape "#{request.url}"}", target: "_blank", rel: "nofollow"} Email

        %nav.support-links
          %ul
            %li
              %span Support
            %li
              %a.github{href: "https://github.com/manudwarf/weusepgp"} Fork me on GitHub
            %li
              %a.social-flattr{href: "https://flattr.com/submit/auto?user_id=manudwarf&url=http%3A%2F%2Fweusepgp.info%2F", target: "_blank", rel: "nofollow"} Flattr

    #header
      .container
        .hgroup
          %a#sidebar-link{href: "#"}
          %h1
            %a{href: "#{request.url}"} WeUsePGP
          .subtitle= t 'header_subtitle'



    #whatisit
      .container
        %h1.main-title
          %span= t 'whatisit_title'

        .main-description
          %p= t 'whatisit_description_1'
          %p= t 'whatisit_description_2'

        .main-uses
          %ul
            %li
              %h2= t 'uses_encryption_title'
              %p= t 'uses_encryption_description'

            %li
              %h2= t 'uses_signing_title'
              %p= t 'uses_signing_description'

    #whyuseit
      .container
        %h1.main-title
          %span= t 'why_use_it'

        %ol.reasons
          %li
            %h2= t 'reasons_private_title'
            %p= t 'reasons_private_description'
          %li
            %h2= t 'reasons_simple_title'
            %p= t 'reasons_simple_description'
          %li
            %h2= t 'reasons_free_title'
            %p= t 'reasons_free_description'

    #howto
      .container
        %h1.main-title
          %span= t 'how_to_use_it'

        .select-howto

          %nav.select-usage
            = t 'howtos_for'
            %ul
              %li.selected{data: {usage: "emails"}}= t 'usage_emails'
              %li{data: {usage: "chat"}}= t 'usage_chat'
              %li{data: {usage: "calls"}}= t 'usage_calls'
              %li{data: {usage: "file"}}= t 'usage_files'
              %li{data: {usage: "devices"}}= t 'usage_devices'

          %nav.select-platform
            = t 'howtos_on'
            %ul
              %li.selected{data: {platform: "windows"}}= t 'platform_windows'
              %li{data: {platform: "macos"}}= t 'platform_macos'
              %li{data: {platform: "linux"}}= t 'platform_linux'
              %li{data: {platform: "iphone"}}= t 'platform_iphone'
              %li{data: {platform: "android"}}= t 'platform_android'

        %ul.howtos
          - @howtos.each do |howto|
            %li.howto{data: {usages: "#{howto["usages"]}", platforms: "#{howto["platforms"]}"}}
              .howto-description
                %h3= howto["name"]
                %p= howto["description"]["#{I18n.locale}"] || howto["description"]["en"]
                %a.homepage{href: "#{howto["links"]["homepage"]}", target: "_blank"}= t 'howtos_website'
              - if howto["illustration"]
                .howto-illustration
                  %img{border: "0", src: "#{howto["illustration"]}"}

          %li.howto.not-available.hidden
            %span= t 'howtos_not_available'

    #more
      .container
        %h1.main-title
          %span= t 'more_info_title'

        %ul.more-links
          %li
            = t 'more_links_join_local'
            %a{target: "_blank", href: "http://www.cryptoparty.in/"} CryptoParty

    #footer
      .container
        .license-info
          = t 'license_info'
          %a{href: "http://creativecommons.org/licenses/by-sa/3.0/"}= t 'license_cc'

        .author
          = t 'author'
          %a{href: "https://twitter.com/manudwarf"} @manudwarf
